<!DOCTYPE html>
<html>
<head>
	<title>Hico</title>
</head>
<body>
	<div id="app">
    <h2>Hello, Hico</h2>
    <p>use jQuery change text color</p>
    <p>
      <a href="/course/index.html" target="_blank">course</a>
      <a href="/data/index.html" target="_blank">data</a>
      <a href="/forum/index.html" target="_blank">forum</a>
    </p>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="/dist/index.js"></script>
</body>
</html>